%script{:src => "https://code.highcharts.com/highcharts.js"}
%script{:src => "https://code.highcharts.com/modules/exporting.js"}

.row
  .col-sm-6
    #container{:style => "min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"}

:javascript
    
     Highcharts.chart('container', {
      chart: {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false,
       type: 'pie'
      },
      title: {
       text: 'Late and on time data'
      },
      plotOptions: {
       pie: {
        allowPointSelect: true,
        cursor: 'pointer',
        dataLabels: {
         enabled: false
        },
        showInLegend: true
       }
      },
      series: [{
       data: #{@chart_data.to_json}
      }]
     });
  