%h1 Dashboard

.row
  .col-sm-12
    .alert.alert-warning
      %strong
        No. of Late User today 
      %span.badge=@stats[:nos_of_late_users_today]
      .pull-right  
        %strong
          Average time for all users
        %span.badge=@stats[:avg_time]


%table.table.table-bordered
  %tr
    %td Name
    %td Arrival Time
    %td Date
    %td Actions

  -@timelogs.each do |timelog|
    %tr{class: "#{(timelog.is_late) ? 'danger' : ''}"}
      %td=link_to timelog.username, user_dashboard_path(timelog.user_id)
      %td=timelog.login_time.strftime("%H:%M")
      %td=timelog.login_time.strftime("%d-%b-%y")
      %td=link_to "Destroy", users_path(timelog.user_id), method: :delete, data: {confirm: "Are you sure?"}

= will_paginate @timelogs