%h1 Dashboard

.alert.alert-warning
  %strong
    No. of Late User today 
  %span.badge=@no_of_late_users

%table.table.table-bordered
  %tr
    %td Name
    %td Arrival Time
    %td Date

  -@timelogs.each do |timelog|
    %tr{class: "#{(timelog.is_late) ? 'danger' : ''}"}
      %td=timelog.username
      %td=timelog.login_time.localtime.strftime("%H:%M")
      %td=timelog.login_time.localtime.strftime("%d-%b-%y")


= will_paginate @timelogs