%h1= "Dashboard for User: #{@user.name} "

.row
  .col-sm-12
    .alert.alert-warning
      %strong
        Average time for 
      %span.badge=@stats[:avg_time]


%table.table.table-bordered
  %tr
    %td Arrival Time
    %td Date

  -@timelogs.each do |timelog|
    %tr{class: "#{(timelog.is_late) ? 'danger' : ''}"}
      %td=timelog.login_time.strftime("%H:%M")
      %td=timelog.login_time.strftime("%d-%b-%y")

= will_paginate @timelogs