.row
  .col-sm-6
    .panel.panel-default
      .panel-body
        =link_to "Create new User", new_users_path, class: "btn btn-primary"
        %hr
        = form_for(@timelog, class: "form-inline") do |f|
          = text_field_tag "username", nil, class: "form-control", placeholder: "User name to log in", required: true